<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        <h1>PSS</h1>
        <div>
            <form action="/save_config" method="POST">
                <div>
                    <label for="path">image folder path</label>
                    <input name="path" type="text" value=""/>
                </div>
                <div>
                    <div>
                        <input name="twitter" type="checkbox" value="Twitter"/>
                        <label for="twitter">Twitter</label>
                    </div>
                    <div>
                        <input name="mastodon" type="checkbox" value="Mastodon"/>
                        <label for="mastodon">Mastodon</label>
                    </div>
                </div>
                <button>DECIDE</button>
            </form>
        </div>
    </body>
</html>
